@model List<News>
<section class="best-of-the-week">
    <div class="container">
        <h1>
            <div class="text">Haftanın En İyisi</div>
            <div class="carousel-nav" id="best-of-the-week-nav">
                <div class="prev">
                    <i class="ion-ios-arrow-left"></i>
                </div>
                <div class="next">
                    <i class="ion-ios-arrow-right"></i>
                </div>
            </div>
        </h1>
        <div class="owl-carousel owl-theme carousel-1">
            @foreach (var item in Model)
            {
                <article class="article">
                    <div class="inner">
                        <figure>
                            <a href="single.html">
                                <img src="@item.ImageUrl" alt="Sample Article">
                            </a>
                        </figure>
                        <div class="padding">
                            <div class="detail">
                                <div class="time">@item.CreatedDate.ToString("MM/dd/yyyy")</div>
                                <div class="category"><a href="category.html">@item.Category.CategoryName</a></div>
                            </div>
                            <h2><a href="single.html">@item.Title</a></h2>
                            <p>@item.Description.Substring(0,40)</p>
                        </div>
                    </div>
                </article>
            }
            

        </div>
    </div>
</section>



