@model List<News>
<div class="line">
                    <div>En Son Haberler</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            @foreach (var item in Model.Take(2))
                            {
                                <article class="article col-md-12">
                                    <div class="inner">
                                        <figure>
                                            <a href="single.html">
                                                <img src="@item.ImageUrl" alt="Sample Article">
                                            </a>
                                        </figure>
                                        <div class="padding">
                                            <div class="detail">
                                                <div class="time">@item.CreatedDate.ToString("MMMM dd,yyyy")</div>
                                                <div class="category"><a href="category.html">@item.Category.CategoryName</a></div>
                                            </div>
                                            <h2><a href="single.html">@item.Title</a></h2>
                                            <p>@item.Description.Substring(0,200)</p>
                                            <footer>
                                                <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
                                                    <div>@item.LikeCount</div></a>
                                                <a class="btn btn-primary more" href="single.html">
                                                    <div>Daha Fazlası</div>
                                                    <div><i class="ion-ios-arrow-thin-right"></i></div>
                                                </a>
                                            </footer>
                                        </div>
                                    </div>
                                </article>
                            }
                        

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            @foreach (var item in Model.Skip(2).Take(2))
                            {
                                <article class="article col-md-12">
                                    <div class="inner">
                                        <figure>
                                            <a href="single.html">
                                                <img src="@item.ImageUrl" alt="Sample Article">
                                            </a>
                                        </figure>
                                        <div class="padding">
                                            <div class="detail">
                                                <div class="time">@item.CreatedDate.ToString("MMMM dd,yyyy")</div>
                                                <div class="category"><a href="category.html">@item.Category.CategoryName</a></div>
                                            </div>
                                            <h2><a href="single.html">@item.Title</a></h2>
                                            <p>@item.Description.Substring(0,200)</p>
                                            <footer>
                                                <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
                                                    <div>@item.LikeCount</div></a>
                                                <a class="btn btn-primary more" href="single.html">
                                                    <div>Daha Fazlası</div>
                                                    <div><i class="ion-ios-arrow-thin-right"></i></div>
                                                </a>
                                            </footer>
                                        </div>
                                    </div>
                                </article>
                            }
                           

                        </div>
                    </div>
                </div>
              
